/**
Ajout de la font Arcane nine.
 */
@font-face {
    font-family: "Arcane nine";
    src: url('../assets/fonts/Arcane_nine.otf') format("opentype");
}

body {
    font-family: "Inter", sans-serif;
    background: #373737;
    color: #FFFFFF;
    margin: 0;
}

/**
Barre de navigation
 */
header {
    display: flex;
    width: 100%;
}

.popup {
    background: #373737;
    padding: 10px;
    border-radius: 10px;
    border: 1px #088FC0 solid;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup h2 {
    text-align: center;
    color: #088FC0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.popup #close, .popup a {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin: 10px auto;
    border: none;
    outline: none;
    background: #088FC0;
    color: white;
}

header nav {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

header nav:hover {
    background-color: rgba(0, 0, 0, 0.85);

}

header nav form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 0 0 25px;
    width: 50%;
    height: fit-content;
}

header #searchbar {
    margin: 0;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #088FC0;
    outline: none;
    width: 200px;
    font-family: 'Prompt', sans-serif;
}

header #search_button {
    background: url("../assets/images/icons/search.png") center center no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
}

header #logo_container {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.cine {
    font-size: 40px;
}

header #navlinks {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.navlink {
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    color: #088FC0;
    transition: .2s;
}

.navlink:hover {
    color: #FFFFFF;
}

#abonnement_link {
    padding: 5px 10px;
    background-color: #088FC0;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    height: fit-content;
}

#trailer_accueil {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#trailer_accueil #bouton_regarder {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 5px 10px;
    background-color: #088FC0;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    height: fit-content;
}

#abonnement_link:hover, #bouton_regarder:hover {
    background: #FFFFFF;
    color: #088FC0;
}


#trailer_accueil video {
    width: 100%;
}

.top {
    margin: 50px 0;
}

.top h2 {
    font-weight: lighter;
    width: fit-content;
    padding: 10px 20px;
    margin: 50px auto;
}

.top-films {
    margin: 15px;
}

.poster img {
    cursor: pointer;
    border-radius: 5px;
    transition: .4s;
    width: 210px;
    height: 290px;
    border: 2px solid transparent;
}

.poster .poster-image:hover {
    border: 2px solid #088FC0;
}

.top_contenu {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    background: #282828;
    overflow-x: scroll;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.7);
}

.top_contenu::-webkit-scrollbar {
    height: 5px;
}

.top_contenu::-webkit-scrollbar-track {
    background: transparent;
}

.top_contenu::-webkit-scrollbar-thumb {
    background: #088FC0 !important;
    border-radius: 5px;

}
/* Section footer
 */
footer {
    margin-top: 150px;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer li {
    list-style: none;
    margin-bottom: 5px;
}

#end {
    display: flex;
    justify-content: space-around;
    background: rgba(128, 128, 128,0.59);
}

#Sub {
    display: flex;
    justify-content: space-between;

}

.tsunami img {

    width: 100%;
    border-radius: 12%;


}

.text-overlay {
    position: absolute;
    top: 19%;
    left: 99rem;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.imag {
    opacity: 0.7;
    z-index: 0;
}

.text-over {
    position: absolute;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #00ffcc;
    text-shadow:
        0 0 5px #00ffcc,
        0 0 10px #00ffcc,
        0 0 15px #00ffcc,
        0 0 20px #00ffcc,
        0 0 30px #00ffcc;

}

.text-lay {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

#auth_container {
    margin-top: 50px;
}

/* inscription */
.form_error {
    padding: 5px 10px;
    width: fit-content;
    margin: 5px auto;
    border-radius: 10px;
    border: #d65050;
    background: rgba(255, 94, 94, 0.79);
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 62%;
    height: 50vh;
    margin: 50px auto;
}

.form_input {
    box-sizing: border-box;
    border-bottom: rgba(25, 92, 151)solid;
    width: 100%;
    padding: 5px 10px;
    font-family: 'Arcane nine', sans-serif;
    margin-top: 1%;
}


.submit{
    width: 6%;
    margin-left: 44%;
}

.text {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 90%;
}

.subpage {
    background: rgba(25, 92, 151, 0.59);
    text-align: center;
    border-radius: 80px;
    width: 80%;
    margin: 15px auto;
}

/*Connexion*/

#form_links {
    display: flex;
    justify-content: space-around;
}

.bouton {
    background: rgba(25, 92, 151, 0.59);
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 80px;
}

.form_submit {
    cursor: pointer;
    background: rgba(25, 92, 151, 0.59);
    outline: none;
    border: solid 2px #fff;
    padding: 10px;
    color: #fff;
    margin: 15px auto;
    width: 250px;
}

/* page admin */
.admin_menu {
    position: absolute;
    text-align: center;
    left: 1%;
    border: 1px solid rgba(25, 92, 151, 0.7);

    width: 11%;
    height: 52rem;

    background-color: rgba(25, 92, 151, 0.7);
}

.menu_text {
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.button_menu {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    margin-top: 5%;
    height: 66px;
    width: 157px;

}

#myChart {
    height: 50%;
    width: 50%;
    margin-left: 17%;
}



/* page films et series
 */

#content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

/* Conteneur principal */
.content{
    flex:1;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 15px; /* Espacement entre les affiches */
}

/* Conteneur de l'affiche */
.poster {
    position: relative; /* Nécessaire pour positionner .rate-container */
    width: 200px; /* Largeur de l'affiche (modifiable selon vos besoins) */
    height: auto; /* Maintenir les proportions */
}

/* Image de l'affiche*/
.poster .poster-image {
    display: block;
    border-radius: 8px; /* Coins arrondis pour l'image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre autour de l'image */
}

/* Conteneur pour la note et l'icône */
.rate-container {
    position: absolute; /* Positionnement par rapport à .poster */
    bottom: 10px; /* Distance depuis le bas de l'image */
    right: 10px; /* Distance depuis le côté droit de l'image */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
    color: white; /* Texte blanc */
    padding: 5px 8px; /* Espacement interne */
    border-radius: 15px; /* Arrondir le fond */
    display: flex; /* Alignement horizontal de la note et de l'icône */
    align-items: center; /* Centrer verticalement les éléments */
    gap: 5px; /* Espacement entre le texte et l'icône */
}

/* Texte de la note */
.rating-text {
    font-size: 14px; /* Taille de la police */
    font-weight: bold; /* Mettre en gras */
    line-height: 1; /* Supprimer l'espacement vertical supplémentaire */
}

/* Icône (cœur) */
.rate-container img {
    width: 16px; /* Largeur de l'icône */
    height: 16px; /* Hauteur de l'icône */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination a {
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(25, 92, 151, 0.7);
    color: #088FC0;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.pagination a:hover {
    text-decoration: none;
    background: #088FC0;
    color: #FFFFFF;
}

.pagination .active {
    font-weight: bold;
    background: #088FC0;
    padding: 5px;
    color: white;
}


.poster-image {
    width: 200px;
    height: 300px;
    cursor: pointer;
    transition: .4s;
}

.align_movie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    gap: 10px;
    overflow-y:scroll ;
    width: 95%;
}

.movie-row {
    display: flex;
    justify-content: space-between; /* Espacement uniforme entre les affiches */
    gap: 15px; /* Espacement horizontal entre les affiches */
}

#bg-article {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#bg-article #blur {
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(5px);
}

/* page article film et series*/
.movie_art {
    background-color: rgb(21, 28, 28);
    border: solid 2px white;
    border-radius: 5px;
    width: 80%;
    min-height: 65vh;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
}

.movie_art h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    color: #088FC0;
}

.movie_art #poster-article {
    width: 350px;
    height: auto;
    margin: 15px;
    top: 15px;
}



#about-genres {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: fit-content;
    margin: 0 auto;
}

#about-genres .genre {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: #088FC0;
}

#data-article {
    width: 100%;
    display: flex;
    justify-content: center;
}

#data-article #count {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    color: #088FC0;
    font-weight: bold;
}

#data-article #episodes-icon {
    width: 20px;
    height: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#about-container {
    padding: 40px 15px 15px 15px;
    display: flex;
}

#about-container #poster {
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#about-header {
    display: flex;
    gap: 15px;
    width: 100%;
}

#about-header h1 {
    font-size: 50px;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
}

#about-header #data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 10px;
    background: #121212;
    margin: 15px;
    border: 1px solid #088FC0;
}

#about-header #about-description {
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


#about-details {
    width: 90%;
    margin: auto;
}

#about-header #data .details {
    font-weight: bold;
}

#section-casting {
    padding: 10px;
}


#section-casting #cast-title {
    font-weight: bold;
    font-size: 36px;
}

#casting-container {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;

}

#casting-container .cast-people{
    border-radius: 5px;
    border: solid 2px white;
    width: 200px;
    height: auto;
}

#casting-container .cast-people .main-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* Page Abonnement */
#abonnement_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}

#abonnement_title {
    margin: 0 auto;
    width: fit-content;
    margin-top: 30px;
    font-size: 4em;
    color: #FFFFFF;
}

.abonnement_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    height: 150px;
    border-radius: 5px 5px 0 0;
    border: 2px solid white;

}

.abonnement_header h2 {
    margin: auto 0;
    text-shadow: 0 0 #000;
}

.abonnement_descr_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.33);
    border: 2px solid white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0 0 5px 5px;

}

.abonnement_descr_container table,
tr,
td {
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.abonnement_button {
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
    margin: 15px auto 5px auto;
    background-color: #A344A8;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .2s;
}

.abonnement_button:hover {
    border: 2px solid #FFFFFF;
}

#abonnement_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}

#abonnement_title {
    margin: 0 auto;
    width: fit-content;
    margin-top: 30px;
    font-size: 4em;
    color: #FFFFFF;
}

.abonnement_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    height: 150px;
    border-radius: 5px 5px 0 0;
    border: 2px solid white;

}

.abonnement_header h2 {
    margin: auto 0;
    text-shadow: 0 0 #000;
}

.abonnement_descr_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.33);
    border: 2px solid white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0 0 5px 5px;

}

.abonnement_descr_container table,
tr,
td {
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.abonnement_button {
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
    margin: 15px auto 5px auto;
    background-color: #A344A8;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .2s;
}

.abonnement_button:hover {
    border: 2px solid #FFFFFF;
}

.disabled {
    background-color: #410244;
}

.account-choice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.account-choice .bloc {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.account-choice .bloc .choice:hover {
    transform: scale(1.1);
}

#saison-container {
    width: 100%;
    margin: 50px 10px;
}

.saison-section-title {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    border-bottom: solid 2px white;

}

.account-choice .bloc .choice {
    text-decoration: none;
    color: #FFFFFF;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #088FC0;
    border: 2px solid #FFFFFF;
    font-weight: bold;
}

.episode-container {
    width: 100%;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.episode-content {
    transition: .3s;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 75%;
    margin: 10px auto;
    background: #121212;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
    border: 1px solid #FFFFFF;
}

.episode-content:hover {
    transform: scale(1.02);
}

.episode-content .episode-title {
    font-weight: bold;
    color: #088FC0;
    font-size: 1.5em;
}

.episode-content .episode-poster {
    width: 250px;
    height: 150px;
}

.suggestion {
    margin-top: 20px;
}

.suggestion h2 {
    font-weight: bold;
    font-size: 1.8em;
    width: fit-content;
    margin: 0 auto;
}

.suggestion-container {
    margin: 20px auto;
    padding: 10px 0;
    display: flex;
    width: 80%;
    overflow-x: scroll;
    gap: 50px;
    border-top: 1px solid #088FC0;
    border-bottom: 1px solid #088FC0;
    background: #121212;
}