/**
Ajout de la font Arcane nine.
 */
@font-face {
    font-family: "Arcane nine";
    src: url("../assets/fonts/Arcane_nine.otf") format("opentype");
}

body {
    font-family: "Arcane nine", sans-serif;
    color: #fff;
    margin: 0;
    background: url("../assets/images/background.gif") no-repeat fixed;
}

/**
Barre de navigation
 */
header {
    display: flex;
    width: 100%;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100px;
    /*background: url("../assets/images/header_background.jpg") no-repeat fixed center;*/
}

header #navlinks {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(25, 92, 151, 0.38);
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

header nav a:hover {
    box-shadow: 0 0 4px 2px cyan;
}

#trailer_accueil {
    max-width: fit-content;
    margin: 100px auto;
    border-radius: 5px;
}

.top {
    margin: 50px;
}

.top-films {
    margin: 15px;
}

.top-film img {
    cursor: pointer;
    transition: .2s;
}

.top-film img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px 7px #ffffff;
}

.top_contenu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}