/**
Ajout de la font Arcane nine.
 */
@font-face {
    font-family: "Arcane nine";
    src: url("../assets/fonts/Arcane_nine.otf") format("opentype");
}

body {
    font-family: "Arcane nine", sans-serif;
    color: #fff;
    margin: 0;
    background: url("../assets/images/backgroundbody.PNG") no-repeat fixed;
    background-size: cover;
}

/**
Barre de navigation
 */
header {
    display: flex;
    width: 100%;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.33);
}

.cine {
    font-size: 40px;
}

header #navlinks {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

header nav a:hover {
    box-shadow: 0 0 4px 2px cyan;
}

#trailer_accueil {
    max-width: fit-content;
    margin: 100px auto;
    border-radius: 5px;
}

.top {
    margin: 50px;
}

.top-films {
    margin: 15px;
}

.top-film img {
    cursor: pointer;
    transition: .4s;
    width: 220px;
    height: 300px;
}

.top-film img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px 5px #ffffff;
}

.top_contenu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Section footer
 */
footer {
    margin-top: 150px;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer li {
    list-style: none;
    margin-bottom: 5px;
}

#end {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.32);
}

#Sub {
    display: flex;
    justify-content: space-around;
}

#auth_container {
    margin-top: 50px;
}

/* inscription */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 80%;
    height: 50vh;
    margin: 50px auto;
}

.form_input {
    box-sizing: border-box;
    background: rgba(25, 92, 151, 0.59);
    border-radius: 80px;
    width: 100%;
    padding: 5px 10px;
    font-family: 'Arcane nine', sans-serif;
}

.text {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 90%;
}

.subpage {
    background: rgba(25, 92, 151, 0.59);
    text-align: center;
    border-radius: 80px;
    width: 80%;
    margin: 15px auto;
}

/*Connexion*/

#form_links {
    display: flex;
    justify-content: space-around;
}

.bouton {
    background: rgba(25, 92, 151, 0.59);
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 80px;
}

.form_submit {
    cursor: pointer;
    background: rgba(25, 92, 151, 0.59);
    outline: none;
    border: solid 2px #fff;
    padding: 10px;
    color: #fff;
    margin: 15px auto;
    width: 250px;
}